*.h5 filter=lfs diff=lfs merge=lfs -text
ticket_classifier_model/tf_model.h5 filter=lfs diff=lfs merge=lfs -text
saved_ticket_classifier_model/tf_model.h5 filter=lfs diff=lfs merge=lfs -text
chatbot-backup.git filter=lfs diff=lfs merge=lfs -text
